<section id="main_section">
	<article>
		<header>
			<hgroup>
				<h1>Title of Article</h1>
				<h2>Subtitle for Article</h2>
			</hgroup>
		</header>
		<p>This is the body of 1st Article</p>
		<footer>
			<p>-- written by HTML5</p>
		</footer>
	</article>
	<article>
		<header>
			<hgroup>
				<h1>Title of Article</h1>
				<h2>Subtitle for Article</h2>
			</hgroup>
		</header>
		<p>This is the body of 2ed Article</p>
		<footer>
			<p>-- Written by HTML5</p>
		</footer>
	</article>
</section>

<aside id="slide">
	<h4>Slide</h4>
	Slide goes here
</aside>



